/ {
    glidepoint1: virtual_input {
        compatible = "zmk,virtual-input";
    };

    input_relay_config_102 {
        compatible = "zmk,split-peripheral-input-relay";

        relay-channel = <102>;
        device = <&glidepoint1>;
    };
};
